.head{
  font-size: 100px;
  font-style: oblique;
}

.profile-container {
  display: flex;
  justify-content:space-between;
}
.Profil {
  width: 75em;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  border: 10px solid blue;
  box-shadow: 15px 20px rgb(16, 6, 109);
  padding: 15px;
  animation-name: background;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.image1{
  width: 50%;
  height: auto;
}
.text1 {
  color: yellow;
  margin: 10px;
  float: right;
  font-family:'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: lighter;
  animation: 
    typing 3s steps(30, end);
    overflow: hidden;
}

.navigationBar {
  border-radius: 10px;
  padding: 15px;
  display: block;
  float: left;
  width: 20%;
  background-color: darkgrey;
  flex-direction: row;
}
.HomeButton {
  margin: 5px;
  padding: 10px;
  font-size: 50px;
}

.instagram {
  margin: 5px;
  font-size: 50px;
  padding: 10px;
}

.email {
  margin: 5px;
  font-size: 50px;
  padding: 10px;
}

.github{
  margin: 5px;
  font-size: 50px;
  padding: 10px;
}

.game {
  margin: 5px;
  font-size: 50px;
  padding: 10px;
}



.bio-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10em;
  margin-left: 30em;
}
.bio {
  width: 75em;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  border: 10px solid rgb(216, 216, 2);
  box-shadow: 15px 20px rgb(67, 177, 4);
  padding: 15px;
}
.image2 {
  width: 50%;
  height: auto;
  margin: 10px;
}
.text2 {
  color: blueviolet;
  font-family:'Courier New', Courier, monospace;
  font-style: italic;
}



@keyframes background {
  from {background-color: rgb(28, 28, 92);}
  to {background-color:black;}
}
@keyframes typing {
  from {width: 0}
  to {width: 100%}
}


.ButtonBar {
  background-color:hotpink;
  text-align: center;
  position: relative;
  margin-top: 5em;
  height: 40em;
  border-radius: 5em;
  padding: 50px;
}

.Number {
  display: block;
  font-size: 30px;
  color: indigo;
  font-weight: 600;
}

.Play, .Reset {
  background-color: #4CAF50;
  box-shadow: 15px;
  border-radius: 5em;
  color: rgb(50, 2, 112);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
}










